<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.kutt_app_i">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BackgroundActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TheService"
            android:enabled="true"
            android:exported="true"
            android:process=":serviceProcess" />
        <service android:name=".SensorService" />
        <service android:name=".ServiceJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <receiver
            android:name=".ActionReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".StartMyServiceAtBootReciever"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".StarActivity"
            android:label="Favorites"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBarDark" />
        <activity
            android:name=".Dis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Account"
            android:label="Account"
            android:theme="@style/AppTheme.NoActionBarDark" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppTheme.NoActionBarDark" />
        <activity
            android:name=".GraphActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GoogleAuth"></activity>
    </application>

</manifest>